.navbar-brand{
  width: 150px;
  margin-top: 18px;
}


.signin-btn{
  text-decoration: none;
  border-radius: 30px;
  padding: 7px 20px;
  float: right;
  margin-top: 15px;
  color: #fff !important;
  background: #107afd;
  font-weight: 600;
}


/*To make the website responsive*/
#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
  }